@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;

    &.resizable {
      border-bottom: 2px solid $col-resize-color;
    }
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
  }

  .cell {
    position: relative;
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;


    &.selected {
      border: none;
      box-shadow: inset 0 0 0 2px blue;
      z-index: 2;
    }

    &.resizable {
      border-right: 2px solid $col-resize-color;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    background: $col-resize-color;
    width: 6px;
    height: 100%;

    opacity: 0;
    z-index: 100;

    &:hover {
      opacity: 1;
      cursor: col-resize;
    }

    &.visible {
      opacity: 1 !important;

      &:hover {
        opacity: 0;
      }

      &::after {
        content: '';

        display: block;
        position: absolute;

        background: $col-resize-color;
      }
    }
  }

  .row-resize {
    right: 0;
    left: 0;
    bottom: -3px;

    width: 100%;
    height: 6px;

    &:hover {
      cursor: row-resize;
    }

    &::after {
      bottom: -1.5px;
      left: 0;

      width: 40px;
      height: 6px;
    }
  }

  .col-resize {
    right: -3px;
    bottom: 0;

    &.visible::after {
      top: -23px;
      right: -1.5px;

      width: 6px;
      height: 23px;
    }
  }
}
